@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
  background: url(https://img.playbook.com/GkXdxuPUJybZqdTcLNt124xUnMD_bK19dxy4Z8SczhE/Z3M6Ly9wbGF5Ym9v/ay1hc3NldHMtcHVi/bGljLzJhNWYxODk1/LTE0ZWMtNGNjMi1h/ZGZlLTRkMzQxYWYw/Zjk1OQ);
  background-size: cover;
  background-position: center;
}

.wrapper {
  position: relative;
  max-width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;

}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  border-radius: 15px;
  border: none;
  outline: none;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: .6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  box-shadow: 0 0 10px rgba(10, 10, 10, 10);
  transform: scale(1.005);
}

.wrapper .register-link {
  text-align: center;
  font-size: 14.5px;
  margin: 20px 0 15px;
}

.register-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;

}

.register-link a:hover {
  text-decoration: underline;
}

.login.active {
  animation: notActive .3s forwards;
}

.login.not-active {
  animation: notActiveLogin .3s forwards;
}

.sign-up {
  display: none;
  transition: .3s;
}

.sign-up.active {
  display: block;
  animation: activeSignUp .3s forwards;
}

.sign-up.not-active {
  animation: notActiveSignUp .3s forwards;
}

@keyframes activeSignUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes notActiveSignUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes activeLogin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes notActiveLogin {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

textarea {
  width: 100%;
  height: 100%;
  min-height: 70px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px dotted #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-big {
  width: 100px;
  height: 100px;
  border: 15px dotted #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
